<h1 style="text-align:center">Gallery</h1>
<div class="container">
    <img src="{{pics[1].url}}" alt="toes" style="width:50%;" class="float-left">
    <div class="text-block" style="text-align: center;">
      <h2>Baby Toes</h2>
    </div>
  </div>
  <div class="container">
    <img src="{{pics[2].url}}" alt="Face" style="width:50%;" class="float-right">
    <div class="text-block" style="text-align: center;">
      <h2>Eye of the Beholder</h2>
    </div>
  </div>
  <div class="container">
    <img src="{{pics[3].url}}" alt="july" style="width:50%;" class="float-left">
    <div class="text-block" style="text-align: center;">
      <h2>Red, White, and Blue</h2>
    </div>
  </div>
  <div class="container">
    <img src="{{pics[4].url}}" alt="bella" style="width:50%;" class="float-right">
    <div class="text-block" style="text-align: center;">
      <h2>Christmas Time</h2>
    </div>
  </div>
  <div class="container">
    <img src="{{pics[5].url}}" alt="matthew" style="width:50%;" class="float-left">
    <div class="text-block" style="text-align: center;">
      <h2>Outdoors</h2>
    </div>
  </div>
  <div class="container">
    <img src="{{pics[6].url}}" alt="angel" style="width:50%;" class="float-right">
    <div class="text-block" style="text-align: center;">
      <h2>Growing Up Fast</h2>
    </div>
  </div>
  


  