$base-color: black;
$color: #9105b4;

.navbar-default {
    background-color: $base-color !important;
}

.nav-link {
    color: $color !important;
    font-size: 18px;
}

.navbar-brand {
    color: $color !important;
    font-size: 36px;
    color: #9105b4;
    font-family: "Coppertone";
}