<div class="container">
    <div class="row">
      <div class="col-md-6">
          <div class="text-center">
            <img [src]="imageToShow"
            alt="Generations"
            *ngIf="!isImageLoading; else noImageFound">
<ng-template #noImageFound>
     <img src="fallbackImage.png" alt="Fallbackimage">
</ng-template>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <div class="text-center">
              <p>Photography that captures not just a good photo, but also a piece of the subjects soul!</p>

  